body{
    background-color: rgb(148, 145, 145);
}
header{
    background-color: beige;
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 15px;
}

.formulaire_co{
    text-align: center;
    /* padding:40px; */
    background-color: white;
    
}

footer {
    margin-top: 30px;
    padding-top: 20px;
    background-color: beige;
    display: flex;
    justify-content: space-around;
}

input#fname, input#lname{
    border-radius: 30px;
    padding:5px;
}

.icones{
    margin: 10px;
}